<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <target xsi:type="File" name="file" fileName="${basedir}/Logs/${shortdate}.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message}${onexception:inner=${newline}${exception:format=tostring}}"
            archiveAboveSize="10485760" maxArchiveFiles="30" archiveNumbering="Sequence" />
  </targets>
  <rules><logger name="*" minlevel="Info" writeTo="file" /></rules>
</nlog>
